body {
  //custom name space releated to the theme that is attached to the body
	&.samsungnxt {
		font-family: $secondary-font;
		margin:rem-calc(200) 0 0 0;
    padding: 0;
    color:$samsungnxt-gray;
    h1,
    h2 {
      font-family: $primary-font;
      color: $samsungnxt-gray;
    }
    h1{
      margin: 0 0 rem-calc(50) 0;
      font-size: rem-calc(90);
      font-weight: bold;
    }
    h2 {
      font-size: rem-calc(24);
    }
    .button {
      display: flex;
      justify-content: center;
      border-radius: 10px;
      color:$samsungnxt-blue-dark;
      min-width: rem-calc(325);
      border: none;
      background: $samsungnxt-blue-light;
      font-size: rem-calc(22);
      padding: rem-calc(25) rem-calc(35);
      transition: all 2ms ease-out;
      font-weight: bold;
      &:after {
        //base64 encoded svg arrow
        content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE5IDE3Ij4gICAgPHBhdGggZmlsbD0iIzU4NjZDMyIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMTQuNzA4IDcuMjg3TDkuNzU0IDEuOTNhMS4xMzMgMS4xMzMgMCAwIDEgMS42Ni0xLjUzOGw2LjcxMyA3LjI1OGExLjEzMyAxLjEzMyAwIDAgMSAwIDEuNTM4bC02LjcxMyA3LjI1OGExLjEzIDEuMTMgMCAxIDEtMS42Ni0xLjUzOGw0Ljk1NC01LjM1N0gxLjI0NmExLjEzMiAxLjEzMiAwIDAgMSAwLTIuMjY0aDEzLjQ2MnoiLz48L3N2Zz4=");
        display:block;
        margin-left: rem-calc(24);
      }
      &:hover {
        cursor: pointer;
        //color: $samsungnxt-blue-light;
        background:darken($samsungnxt-blue-light, 10);
      }
    }
	}
}
