body {
  //custom name space releated to the theme
	&.samsungnxt {
		font-family: $secondary-font;
		margin:rem-calc(200) 0 0 0;
    padding: 0;
    h1,
    h2 {
      font-family: $primary-font;
      color: $samsungnxt-gray;
    }
    h1{
      font-size: rem-calc(80);
      font-weight: 900;
    }
    h2 {
      font-size: rem-calc(24);
    }
	}
}
